Repository final-project-insider/BACK-LOGIN, pull requests merged in 2024-04, with the labels that each got.

#6 COMMUTE 기본 MVC 패턴 로직 생성
  final/build.gradle
  final/src/main/java/com/insider/login/commute/controller/CommuteController.java
  final/src/main/java/com/insider/login/commute/dto/CommuteAndCorrectionDTO.java
  final/src/main/java/com/insider/login/commute/dto/CommuteDTO.java
  final/src/main/java/com/insider/login/commute/dto/CorrectionDTO.java
  final/src/main/java/com/insider/login/commute/entity/Commute.java
  final/src/main/java/com/insider/login/commute/entity/Correction.java
  final/src/main/java/com/insider/login/commute/repository/CommuteRepository.java
  final/src/main/java/com/insider/login/commute/repository/CorrectionRepository.java
  final/src/main/java/com/insider/login/commute/service/CommuteService.java
  final/src/main/java/com/insider/login/main/controller/MainController.java
  final/src/main/java/com/insider/login/main/controller/OtherController.java
  final/src/main/resources/application.yml
  final/src/test/java/com/insider/login/commute/service/CommuteTests.java
Labels: 💻Feature

#12 feat #2 - 쪽지 발송(insert) 기능 완료
  .idea/dataSources.xml
  .idea/misc.xml
  final/http/other/note.http
  final/src/main/java/com/insider/login/other/note/controller/NoteController.java
  final/src/main/java/com/insider/login/other/note/entity/Note.java
  final/src/main/java/com/insider/login/other/note/service/NoteService.java
  final/src/test/java/com/insider/login/other/announce/AnnounceTests.java
  final/src/test/java/com/insider/login/other/note/NoteTests.java
Labels: 💻Feature, 🔎Test

#16 쪽지 멤버별 전체리스트 조회 / 등록 / 수정(기능명:삭제) 테스트 + 기능
  .idea/.gitignore
  .idea/clone_240423.iml
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  final/build.gradle
  final/gradle/wrapper/gradle-wrapper.properties
  final/http/other/note.http
  final/src/main/java/com/insider/login/common/CommonController.java
  final/src/main/java/com/insider/login/other/note/controller/NoteController.java
  final/src/main/java/com/insider/login/other/note/repository/NoteRepository.java
  final/src/main/java/com/insider/login/other/note/service/NoteService.java
  final/src/main/resources/application.yml
  final/src/test/java/com/insider/login/leave/controller/LeaveControllerTests.java
  final/src/test/java/com/insider/login/leave/service/LeaveServiceTests.java
  final/src/test/java/com/insider/login/other/note/NoteTests.java
  final/src/test/java/com/insider/login/other/note/controller/NoteControllerTests.java
  final/src/test/java/com/insider/login/other/note/service/NoteServiceTests.java
Labels: 💻Feature, 🔎Test

#20 feat #1 - [출퇴근] 출근 등록 test 완료
  .idea/dataSources.xml
  .idea/gradle.xml
  final/src/main/java/com/insider/login/commute/dto/CommuteDTO.java
  final/src/main/java/com/insider/login/commute/dto/UpdateTimeOfCommuteDTO.java
  final/src/main/java/com/insider/login/commute/entity/Commute.java
  final/src/main/java/com/insider/login/commute/repository/CommuteRepository.java
  final/src/main/java/com/insider/login/commute/service/CommuteService.java
  final/src/test/java/com/insider/login/commute/service/CommuteServiceTests.java
  final/src/test/java/com/insider/login/commute/service/CommuteTests.java
  final/src/test/java/com/insider/login/leave/service/LeaveServiceTests.java
Labels: 🔎Test

#23 공지사항 등록 / 조회 / 상세조회
  .idea/BACK-LOGIN.iml
  .idea/compiler.xml
  .idea/dataSources.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/modules/final.main.iml
  .idea/vcs.xml
  final/SQL
  final/http/other/announce.http
  final/http/other/note.http
  final/src/main/java/com/insider/login/config/YmlConfig.java
  final/src/main/java/com/insider/login/other/announce/controller/AnnounceController.java
  final/src/main/java/com/insider/login/other/announce/controller/FileController.java
  final/src/main/java/com/insider/login/other/announce/dto/AncFileDTO.java
  final/src/main/java/com/insider/login/other/announce/dto/AnnounceDTO.java
  final/src/main/java/com/insider/login/other/announce/entity/AncFile.java
  final/src/main/java/com/insider/login/other/announce/entity/Announce.java
  final/src/main/java/com/insider/login/other/announce/repository/AnnounceFileRepository.java
  final/src/main/java/com/insider/login/other/announce/repository/AnnounceRepository.java
  final/src/main/java/com/insider/login/other/announce/service/AnnounceService.java
  final/src/main/java/com/insider/login/other/note/controller/NoteController.java
  final/src/main/java/com/insider/login/other/note/service/NoteService.java
  final/src/main/resources/application.yml
  final/src/test/java/com/insider/login/other/announce/AnnounceTests.java
  final/src/test/java/com/insider/login/other/announce/cotroller/AnnounceControllerTests.java
  final/src/test/java/com/insider/login/other/announce/service/AnnounceServiceTests.java
  final/src/test/java/com/insider/login/other/note/controller/NoteControllerTests.java
  final/src/test/java/com/insider/login/other/note/service/NoteServiceTests.java
  final/src/test/resources/jjang-gu.png
Labels: 💻Feature, 🔎Test

#25 feat #2 - [출퇴근] 퇴근 시간 등록 (출퇴근 update) TEST 완료
  final/src/main/java/com/insider/login/commute/dto/CommuteDTO.java
  final/src/main/java/com/insider/login/commute/dto/UpdateTimeOfCommuteDTO.java
  final/src/main/java/com/insider/login/commute/entity/Commute.java
  final/src/main/java/com/insider/login/commute/service/CommuteService.java
  final/src/test/java/com/insider/login/commute/controller/CommuteControllerTests.java
  final/src/test/java/com/insider/login/commute/service/CommuteServiceTests.java
Labels: 🔎Test

#29 feat #1 [휴가] 휴가 신청내역 조회, 휴가 신청, 신청 취소, 취소 요청, 상세조회
  final/.gitignore
  final/src/main/java/com/insider/login/leave/common/LeaveSubmitBuilder.java
  final/src/main/java/com/insider/login/leave/controller/LeaveController.java
  final/src/main/java/com/insider/login/leave/dto/LeaveSubmitDTO.java
  final/src/main/java/com/insider/login/leave/entity/LeaveSubmit.java
  final/src/main/java/com/insider/login/leave/repository/LeaveSubmitRepository.java
  final/src/main/java/com/insider/login/leave/service/LeaveService.java
  final/src/test/java/com/insider/login/leave/controller/LeaveControllerTests.java
  final/src/test/java/com/insider/login/leave/service/LeaveServiceTests.java
Labels: 💻Feature, 🔎Test

#32 Feat#2전자결재기안테스트
  .idea/modules.xml
  .idea/modules/final.main.iml
  final/src/main/java/com/insider/login/approval/service/ApprovalService.java
  final/src/test/java/com/insider/login/approval/service/ApprovalServiceTest.java
Labels: 💻Feature, 🔎Test

#38 feat #4 - [출퇴근] 출퇴근 내역 조회 TEST 완료
  final/src/main/java/com/insider/login/common/ResponseMessage.java
  final/src/main/java/com/insider/login/commute/controller/CommuteController.java
  final/src/main/java/com/insider/login/commute/dto/CommuteDTO.java
  final/src/main/java/com/insider/login/commute/entity/Commute.java
  final/src/main/java/com/insider/login/commute/repository/CommuteRepository.java
  final/src/main/java/com/insider/login/commute/service/CommuteService.java
  final/src/main/java/com/insider/login/member/dto/DepartmentDTO.java
  final/src/main/java/com/insider/login/member/dto/MemberDTO.java
  final/src/main/java/com/insider/login/member/entity/Department.java
  final/src/main/java/com/insider/login/member/entity/Member.java
  final/src/test/java/com/insider/login/commute/controller/CommuteControllerTests.java
  final/src/test/java/com/insider/login/commute/service/CommuteServiceTests.java
Labels: 🌀BugFix, 💻Feature, 🔎Test, 🥝Refactor

#53 출퇴근 시간 정정 등록 service TEST, 출퇴근 시간 정정 처리 service TEST 완료
  .idea/dataSources.xml
  .idea/gradle.xml
  .idea/modules.xml
  final/src/main/java/com/insider/login/commute/controller/CommuteController.java
  final/src/main/java/com/insider/login/commute/dto/CommuteAndCorrectionDTO.java
  final/src/main/java/com/insider/login/commute/dto/CommuteDTO.java
  final/src/main/java/com/insider/login/commute/dto/CorrectionDTO.java
  final/src/main/java/com/insider/login/commute/dto/UpdateProcessForCorrectionDTO.java
  final/src/main/java/com/insider/login/commute/dto/UpdateTimeOfCommuteDTO.java
  final/src/main/java/com/insider/login/commute/entity/Commute.java
  final/src/main/java/com/insider/login/commute/entity/Correction.java
  final/src/main/java/com/insider/login/commute/repository/CommuteRepository.java
  final/src/main/java/com/insider/login/commute/repository/CorrectionRepository.java
  final/src/main/java/com/insider/login/commute/service/CommuteService.java
  final/src/main/java/com/insider/login/config/BeanConfig.java
  final/src/test/java/com/insider/login/commute/service/CommuteServiceTests.java
Labels: 💻Feature, 🔎Test

#59 member, department, position 엔티티, dto 충돌 수정
  final/build.gradle
  final/http/other/user.http
  final/src/main/java/com/insider/login/approval/controller/ApprovalController.java
  final/src/main/java/com/insider/login/auth/DetailsMember.java
  final/src/main/java/com/insider/login/auth/filter/JwtAuthorizationFilter.java
  final/src/main/java/com/insider/login/auth/handler/CustomAuthenticationProvider.java
  final/src/main/java/com/insider/login/auth/model/service/DetailsService.java
  final/src/main/java/com/insider/login/common/utils/TokenUtils.java
  final/src/main/java/com/insider/login/commute/controller/CommuteController.java
  final/src/main/java/com/insider/login/commute/repository/CorrectionRepository.java
  final/src/main/java/com/insider/login/commute/service/CommuteService.java
  final/src/main/java/com/insider/login/department/dto/DepartmentDTO.java
  final/src/main/java/com/insider/login/department/entity/Department.java
  final/src/main/java/com/insider/login/member/controller/MemberController.java
  final/src/main/java/com/insider/login/member/controller/TestController.java
  final/src/main/java/com/insider/login/member/dto/MemberDTO.java
  final/src/main/java/com/insider/login/member/entity/Member.java
  final/src/main/java/com/insider/login/member/repository/MemberRepository.java
  final/src/main/java/com/insider/login/member/service/MemberService.java
  final/src/main/java/com/insider/login/position/dto/PositionDTO.java
  final/src/main/resources/application.yml
  final/src/test/java/com/insider/login/commute/controller/CommuteControllerTests.java
  final/src/test/java/com/insider/login/commute/service/CommuteServiceTests.java
Labels: 🌀BugFix
